html {
  font-family: Helvetica;
  color: #291C88;

  }

body {
  background-image: url("img/diamond_upholstery.png");
  width: 100%;
  padding:0;
  margin:0;
  }

header {
  width: 100%;
  }

main {
  background-image: url("img/weave.png");
  width: 100%;
  padding:0;
  margin:0;
  }

footer {
  background-image: url("img/gplaypattern.png");
  width: 960px;
  padding: 10px;
  margin: auto;
  }

h1 {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: auto;
  }

h2 {
  text-align: center;
  }

h3 {
  text-align: center;
  }

p {
  text-align: center;
  font-style: italic;
  }

li {
  list-style: none;
  border-left: 1px darkblue;
  }



footer p{
  text-align:center;
  width:30%;
  display:inline-block;
  box-sizing:border-box;
  vertical-align:top;
  box-sizing:border-box;

  }

.conteneur {
  width: 960px;
  padding: 10px;
  margin: auto;
  }

.colonne {
  display:inline-block;
  vertical-align: top;
  width:30%;
  padding:10px;
  box-sizing:border-box;
}

.map {
  display: inline-block;
  box-sizing:border-box;
  vertical-align: top;
  width: 50%
}

.image {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
}
